{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}
    <!-- ##########_First bloc Reservation_########## -->
    <div id="block-image-reservation">
        <img id="Image-Reservation-first" src="{{ asset('Directory/Image-Reservation-first.jpg') }}" alt="Image-Reservation-sport">
        <h2 id="mes">Mes</h2>
        <h2 id="reservation">Réservation...</h2>
    </div>

    <!-- ##########_Second bloc Reservation_########## -->
    <section>
    </section>




    {% include 'Footer.html.twig' %}
{% endblock %}
