@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #272727;
    padding: 0;
    margin-top: 70px;
}
.background-color-black{
    background-color: black;
}
.background-color-grey{
    background-color:  #272727;
}

a{
    color: #FFFFFF;
    text-decoration: none;
}



/************************* Header **************************/
/***********************************************************/

/********* Nav-bar **********/
#nav-bar{
    margin: 0;
    background-color: black;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    position: fixed;
    width: 100%;
    z-index: 20;
    top: 0;
}
#AllLink{
    display: flex;
    justify-content: space-between;
}

/********* Link page **********/
#nav-bar #AllLink li{
    list-style:none;
    margin: 10px;
    padding: 5px;
    font-size: 30px;
    border: #FFFFFF solid 2px;
    border-radius: 20px;
}
#nav-bar #AllLink li :hover{
    color: #AAAAAA;
}
#nav-bar a{
    color: #FFFFFF;
    text-decoration: none;
}

/********* Title in nav **********/
#title{
    font-size: 34px;
    margin-left: 20px;
    font-family: Papyrus, fantasy;
}

/********* Profil in nav **********/
#img-profil{
    width: 60px;
    height: 60px;
    margin-right: 20px;
    border-radius: 100%;
    z-index: 23;
}
/********* if not loged => link login **********/
#link-connection{
    border: #FFFFFF solid 1px;
    border-radius: 20px;
    padding: 5px;
    margin-right: 20px;
}

/********************* Modal Account ***************************/
#modalAccount{
    display: none;/* Hidden by default */
    position: fixed;
    right: 30px;
    top: 65px;
    border: rgba(39, 39, 39, 0.51) solid .5px;
    z-index: 21;
    background-color: #FFFFFF;

    flex-direction: column;
    color: black;
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
}
#modalAccount #closeAccountModal{
    cursor: pointer;
    position: absolute;
    font-size: 35px;
    right: 10px;
    top: -10px;
}
#modalAccount #InformationProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#modalAccount #btn-modifierProfile{
    border: rgba(39, 39, 39, 0.56) solid 0.5px;
    border-radius: 20px;
    padding: 5px;
}
#modalAccount #btn-modifierProfile:hover{
    background-color: rgba(170, 170, 170, 0.2);
}

#imgAccountProfile{
    width: 90px;
}
#modalAccount #link-admin{
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    border-top: rgba(39, 39, 39, 0.26) solid .5px;
    border-bottom: rgba(39, 39, 39, 0.26) solid .5px;
}
#modalAccount #link-admin a{
    text-decoration: none;
    color: #272727;
    border: #272727 solid 0.5px;
    border-radius: 20px;
    width: fit-content;
    padding: 5px;
    margin: 5px;
}
#link-admin a:hover{
    background-color: rgba(153, 153, 153, 0.24);
}
#logout{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #272727;
    border: #272727 solid .5px;
    border-radius: 5px;
    padding: 10px;
}
#logout:hover{
    background-color: rgba(153, 153, 153, 0.24);
}


/************************* Footer **************************/
/***********************************************************/

#Footer-social-logo{
    display: flex;
background-color: #D9D9D9 ;

}
#Footer-social-logo div{
    display: flex;
    width: fit-content;
    flex-direction: column;
}
#Footer-social-logo div:nth-child(1){
    position: static;
    z-index: 1;
}
#Image-footer-Sport-multisport-santé{
    width: 90%;
    z-index: 2;
    right: 0;
}
#Footer-social-logo div:nth-child(1) img{
    width: 50px;
    margin: 15px;
}

#Footer-link-legal{
    background-color: #272727;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
}
#Footer-link-legal a{
    text-decoration: none;
    color: #FFFFFF;
}
#Footer-link-legal a:hover{
    color: #999999;
}



/************************* home **************************/
/***********************************************************/


/********* First block in home **********/
#Image-home-first{
    width: 100%;
}
 #Block-image{
     position: relative;
     background-color: #272727;
}
#Block-image #Association {
    margin: 0;
    position: absolute;
    top: 0;
    left: 16px;
    font-size: 140px;
    color: #FFFFFF;
    text-shadow: black 0 0 20px;
}
 #Block-image #Multisport{
     position: absolute;
     top: 120px;
     left: 9px;
     font-size: 130px;
     color: black;
     text-shadow: white 4px 4px 0;
 }
#div-btn-rejoindre {
    position: absolute;
    top: 500px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
 #Buttom-home-nous-rejoindre{
     margin-right: 20px;
     background-color: black;
     font-size: 40px;
     color: #FFFFFF;
     border-radius: 40px;
     padding: 10px;
     text-decoration: none;
 }
#Buttom-home-nous-rejoindre:hover{
    background-color: #AAAAAA;
    border: black solid 2px;
    color: black;
}


/********* second block in home **********/
#Sudio-Multisport{
    border-radius: 0 0 0 90px;
    margin: 0;
    padding: 0;
    background-color: #272727;
    display: flex;
    color: #FFFFFF;
}
#Image-home-sport-gim{
    margin: 60px;
    width: 30rem;
    border-radius: 100%;
    border: #FFFFFF solid 3px;
}
#Image-home-sport-acrobat{
    position: relative;
    top: -200px;
    left: 340px;
    width: 200px;
    border-radius: 100%;
    border: #FFFFFF solid 3px;
}
#Title #STUDIO{
    width: fit-content;
    position: relative;
    left: 56px;
    top: 50px;
    margin: 0;
    color: #D9D9D9 ;
    font-size: 100px;
    font-family: Arial, cursive ;
}
#Title #Multisport{
    width: fit-content;
    position: relative;
    left: 179px;
    top: -25px;
    margin: 0;
    padding: 0;
    font-size: 110px;
    font-family: Arial, cursive ;
}
#Sudio-Multisport article{
    width: 50rem;
    margin: 20px;
    font-size: 25px;
    font-family: "Segoe Print";
}

/********* Third block in home **********/
#equipe{
    background-color: black;
    color: #FFFFFF;
    border-radius: 0 90px 0 90px;
}
#equipe h3{
    margin: 0;
    padding: 0;
    font-size: 60px;
    text-align: center;
    font-family: Papyrus, fantasy;
}
.Image-home-Equipe{
    width: 300px;
    border-radius: 100%;
}
#block-all-coach{
    display: flex;
    justify-content: space-evenly;
}
#equipe h4{
    margin: 0;
    padding: 0;
    font-size: 50px;
    text-align: center;
    font-family: MingLiU_HKSCS-ExtB, fantasy;
}
#equipe li{
    text-align: center;
    list-style: none;
    margin-right: 30px;
}

/********* Fourth block in home **********/
#block-sante{
    border-radius: 0 90px 0 90px;
    background-color: #272727;
}
#block-sante h3{
    color: #FFFFFF;
}
#block-sante #Meilleur{
    margin: 0;
    padding: 0;
    font-size: 160px;
}
#block-sante #Santé{
    position: relative;
    top: -60px;
    padding-left: 270px;
    margin: 0;
    font-size: 160px;
}
#Image-home-Santé{
    border-radius: 20%;
}
#block-image-santé{
    display: flex;
    justify-content: center;
    width: 100%;
}

/********* Contact block in home **********/
#block-contact{
    border-radius: 0 90px 0 0;
    background-color: black;
}
#block-contact div:first-child{
    text-align: center;
}
#block-contact #Nous{
    font-family: "DejaVu Sans Mono",fantasy;
    color: #D9D9D9 ;
    font-size: 160px;
    margin: 0;
    padding-left: 160px;
}
#block-contact #Contacter{
    position: relative;
    font-family: "DejaVu Sans Mono",fantasy;
    font-size: 146px;
    margin: 0;
    color: #FFFFFF;
    top: -72px;
 }
#block-all-contact{
    display: flex;
    justify-content: space-evenly;
}
#block-all-contact div{
    background-color: #FFFFFF;
    height: fit-content;
    border-radius: 50px;
    padding: 10px;
    text-align: center;
    font-family: Papyrus, fantasy;
    font-size: 30px;
    margin: 10px;
}
#block-all-contact div:hover{
    background-color: #999999;
}
#block-all-contact div:nth-child(3) p{
    padding:6px;
    margin: 0;
}


/************************* Planning **************************/
/***********************************************************/
#AllPage-calendar{
    background-color: black;
    padding-bottom: 9rem;
}
#Image-plannig-first{
    width: 100%;
}
#block-image-planning #motive {
    font-weight: 500;
    margin: 0;
    position: absolute;
    top: 60px;
    left: 16px;
    font-size: 140px;
    color: black;
    text-shadow: white 4px 4px 0;
}
#block-image-planning #go{
    position: absolute;
    top: 13rem;
    left: 20px;
    font-size: 100px;
    font-family: Marlet, Papyrus, fantasy;
    color: black;
}
/************************* calendar **************************/
/****************************************************************/
#calendrier{
    margin-top: 50px;
    width: 85%;
    margin-right: auto;
    margin-left: auto;
}
/*** block Calendrier sans le header ***/
.fc-view-harness{
    background-color: #DDDDDD;
    border-radius: 30px;
}
 /**** bordure autour du calendrier ****/
.fc-theme-standard .fc-scrollgrid {
    border: black solid 1px;
}

/**** bordure interieur des heures et des jours ****/
.fc-theme-standard td, .fc-theme-standard th {
    border: 1px solid black;
}
/*** tout le texte dans calendrier ***/
.fc .fc-scroller-harness {
    color: black;
}
.fc-toolbar-chunk .fc-button{
    color: black;
    font-size: 20px;
    background-color: #FFFFFF;
}
.fc-toolbar-chunk .fc-button:hover{
    background-color: #ababab;
    color: black;
}
.fc-toolbar-chunk .fc-button:disabled{
    color: black;
    background-color: #FFFFFF;
}
/** jours **/
.fc-col-header-cell-cushion{
    color: black;
    font-family: "Times New Roman", Times, serif;
}
    /*** title ***/
.fc th {
    font-size: 30px;
}

/*** Modal ***/

/* The Modal (background) */
#modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    padding-top: 220px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
#modal-content {
    background-color: #FFFFFF;
    margin: auto;
    border-radius: 20px;
    width: 40%;
    height: 215px;
}
#modal-header{
    padding-left: 20px;
    background-color: #AAAAAA;
    border-radius: 20px 20px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* The Close Button */
#close {
    position: absolute;
    top: 80px;
    right: 30px;
    font-family: fantasy;
    z-index: 6;
    color: #FFFFFF;
    font-size: 60px;
    font-weight: bold;
}

#close:hover,
#close:focus {
    color: #B0413E;
    cursor: pointer;
}

/****************** in modal *************************/
#modal-body{
    display: flex;
    flex-direction: row;
}

#modal-body .container{
    margin: 2px;
    height: 180px;
}
#modal-body .container #places{
    font-size: 30px;
    display: flex;
    flex-direction: row;
    background-color: #AAAAAA;
    color: black;
    width: min-content;
    padding: 5px;
    border-radius: 20px;
    margin: 4px;
}
#modal-body .container #coach{
    font-size: 30px;
    background-color: #AAAAAA;
    color: black;
    width: min-content;
    padding: 5px;
    border-radius: 20px;
    margin: 4px;
}
#modal-body .container #lieu{
    font-size: 30px;
    background-color: #AAAAAA;
    color: black;
    width: max-content;
    padding: 5px;
    border-radius: 20px;
    margin: 4px;
}
#modal-body .container #sport{
    font-size: 50px;
    font-family: fantasy;
    color: black;
    height: 180px;
    padding-top: 45px;
}
/** Button **/
#modal-body .container #btn-inscrire{
    font-size: 20px;
    background-color: #55af55;
    border-radius: 20px;
    padding: 7px;
    box-shadow: 0 0 14px 5px #AAAAAA;
    transition-duration: 0.2s;
    border: #AAAAAA solid 1px;
    margin-right: 28px;
}
#modal-body .container #btn-inscrire:hover{
    box-shadow: 0 0 14px 2px #AAAAAA;
    border: #999999 solid .5px;
}

#modal-body .container #btn-desinscrire{
    font-size: 20px;
    background-color: #B0413E;
    color: #FFFFFF;
    border-radius: 20px;
    padding: 7px;
    box-shadow: 0 0 14px 5px #AAAAAA;
    transition-duration: 0.2s;
    border: #AAAAAA solid 1px;
    margin-right: 28px;
}
#modal-body .container #btn-desinscrire:hover{
    box-shadow: 0 0 14px 2px #AAAAAA;
    border: #999999 solid .5px;
}
.container3{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

/************************* Reservation **************************/
/****************************************************************/
#Image-Reservation-first{
    width: 100%;
}
#block-image-reservation #mes {
    margin: 0;
    position: absolute;
    top: 60px;
    left: 16px;
    font-size: 120px;
    color: black;
    font-family: cursive;
}
#block-image-reservation #reservation{
    position: absolute;
    top: 100px;
    left: 16px;
    font-size: 100px;
    font-family: Papyrus, fantasy;
    color: #999999;
    text-shadow: black 4px 4px 0;
}

#Block-lesson-reservation{
    border-radius: 40px;
    margin: 15px 10% 0 10% ;
    background-color: #dfdfdf;
    font-size: 30px;
}
#Block-lesson-reservation-Date{
    display: flex;
    flex-direction: row;

}
#Block-lesson-reservation-Date :nth-child(1){
    font-size: 30px;
    font-family: fantasy;
    margin: 20px;
    padding-left: 5px ;
    padding-right: 5px ;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #FFFFFF;
    border-radius: 20px;
}
#Block-lesson-reservation-Date :nth-child(2){
    font-size: 70px;
    margin: 20px 0 0 20%;
}
#Block-lesson-reservation-name{
    font-size: 9rem;
    margin: 0;
    padding-left: 20px;
    font-family: fantasy;
    text-shadow: 3px 0 #272727, -3px 0 #272727, 0 3px #272727, 0 -3px #272727,
    2px 2px #272727, -2px -2px #272727, 2px -2px #272727, -2px 2px #272727;
}
#Block-lesson-reservation-info{
    display: flex;
    flex-direction: row;
}
#Block-lesson-reservation-info div{
    display: flex;
    flex-direction: row;
}
#Block-lesson-reservation-info div p{
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    font-size: 40px;
    font-family: fantasy;
}
#Block-lesson-reservation-info a{
    text-decoration: none;
    font-size: 50px;
    color: #FFFFFF;
    background-color: #B0413E;
    border-radius: 20px;
    padding: 10px;
    height: fit-content;
    margin-right: 20px;
    margin-left: auto;
    margin-top: 20px;

}
/************************* Lesson new **************************/
/***************************************************************/
#title-new-lesson{
    color: #FFFFFF;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
#Block-new-Lesson{
    width: fit-content;
    margin: auto;
}
#Block-new-Lesson input {
    margin-bottom: 10px;
}
#Block-new-Lesson select {
    margin-bottom: 10px;
}

/************ Lesson/coach/sport => index.html and show.html ************/
/************************************************************************/

.table-info{
    background-color: white;
    margin: auto;
    font-size: 19px;
    border-radius: 20px;
}

.table-info tbody{
    border-top: #272727 solid 2px;
}
.table-info tbody td{
    border: #272727 solid 2px;
    padding: 7px;
}
.table-info th{

    border: #272727 solid 2px;
}
.btn-action{
    color: #3dbb3d;
}
.btn-action:hover{
    color: #B0413E;
}


.btn-show-retour{
    background-color: #ef8c1b;
    color: #FFFFFF;
    padding: 5px;
    font-size: 20px;
    border-radius: 20px;
    margin: 5px;
}

.btn-show-save{
    background-color: #55af55;
    color: #FFFFFF;
    padding: 5px;
    font-size: 20px;
    border-radius: 20px;
    margin: 5px;
}

.btn-show-delete{
    background-color: #B0413E;
    color: #FFFFFF;
    padding: 5px;
    font-size: 20px;
    border-radius: 20px;
    margin: 5px;
}

.container-btn-show{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn-add{
    text-decoration: none;
    background-color: #55af55;
    border: #FFFFFF solid 1px;
    color: #FFFFFF;
    margin: 20px;
    border-radius: 20px;
    padding: 5px;
}

.container-edit{
    border: black solid 1px;
    background-color: #FFFFFF;
    width: fit-content;
    color: black;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
}
.container-edit select{
    background-color: #999999;
    border-radius: 20px;
    padding: 5px;
    margin: 2px;
}

.container-edit input{
    background-color: #999999;
    border-radius: 20px;
    padding: 5px;
    margin: 2px;
}

/********************* Lesson/coach/sport show **********************/
/*********************************************************************/





/************************* Login **************************/
/***********************************************************/

#block-login{
    display: flex;
    flex-direction: column;
    border: black solid 2px;
    width: fit-content;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    border-radius: 20px;
    background-color: #999999;
}
#block-login input{
    border-radius: 10px;
    border: #272727 solid 1px;
    margin-bottom: 10px;
}
#block-login label{
    text-align: center;
}
#block-login button{
    background-color: #55af55;
    border: black solid 1px;
    border-radius: 90px;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}
 #block-login .checkbox{
     text-align: center;
 }