{% extends 'base.html.twig' %}

{% block title %}leçon{% endblock %}

{% block body %}
    <h1>créer une nouvelle leçon</h1>

    {{ include('lesson/_form.html.twig') }}

    <a href="{{ path('app_planning') }}">Retour</a>
{% endblock %}
