{% extends 'base.html.twig' %}



{% block title %}Planning{% endblock %}

{% block body %}
    <div id="AllPage-calendar">
        <!-- ##########_First bloc Planning_########## -->
        <div id="block-image-planning">
            <img id="Image-plannig-first" src="{{ asset('Directory/Image-plannig-first.png') }}" alt="Image-planning-sport">
            <h2 id="motive">Motivé ?</h2>
            <h2 id="go">GO !</h2>
        </div>

        <!-- ##########_Second bloc Planning_########## -->
        {{dump(data) }}
        <a href="{{path('app_lesson_index')}}"> <h2 style="width:fit-content; border: white solid 1px; color: white">Ajouter</h2></a>
        <section id="Calendar-section">
            <div id="calendar">

            </div>
        </section>
    </div>



    {% include 'Footer.html.twig' %}
{% endblock %}
